# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/
CLAUDE.md
AGENTS.md

# Testing
.pytest_cache/
.coverage
htmlcov/

# Formating
.mypy_cache/
.ruff_cache/

# Project specific
*.log
